body {
    font-family: "Nunito Sans", sans-serif;
}

a {
    text-decoration: none;
    transition: 0.5s all;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 130%;
    font-weight: 300;
}

.h2,
h2 {
    font-size: 2.8rem;
    line-height: 130%;
}

.leftside_menu {
    width: 18%;
    background-color: #fff;
    padding: 0px;
    position: absolute !important;
}

.leftside_menu ul.list-unstyled.ps-0 {
    padding: 0px 10px !important;
}

.sticky-sidebar {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
}

.logo {
    max-width: 156px;
    margin: 5px 0px 26px;
}

.navi_sidebar ul li img {
    filter: grayscale(100%) brightness(0.1);
    transition: filter 0.3s ease;
}

.navi_sidebar ul li a {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    border-radius: 6px;
    align-items: center;
    display: flex;
    gap: 12px;
    padding: 15px 20px;
}

.navi_sidebar ul li.active a {
    background-color: #1eb5c0;
    color: #fff;
}

.navi_sidebar ul li.active img {
    filter: none;
    transition: filter 0.3s ease;
}

.leftside_menu:after {
    position: fixed;
    top: 0px;
    content: "";
    width: 18%;
    left: 0;
    /* height: 100%; */
    background-color: #fff;
    box-shadow: 2px 2px 10px #0000000f;
    height: 100%;
}

.leftside_items {
    position: relative;
    z-index: 999;
    height: 100%;
}

.dashboard {
    display: flex;
    height: 100%;
}

.dashboard_right {
    width: 82%;
    margin-left: 345px;
}

.top_header_dash {
    display: flex;
    padding: 13px 28px;
    box-shadow: 2px 2px 10px #6666661a;
    align-items: center;
    justify-content: space-between;
}

.user_profile {
    display: flex;
    gap: 54px;
    align-items: center;
}

.user_profile h3 {
    margin: 0px;
    font-size: 14px;
    color: #404040;
    font-weight: 800;
}

.user_profile span {
    font-size: 12px;
    font-weight: 700;
    color: #565656;
}

.user_info_d {
    display: flex;
    gap: 16px;
    align-items: center;
}

.user_info_d img {
    width: 44px;
    height: 44px;
    border-radius: 50px;
}

.profile_btn button {
    width: 18px;
    height: 18px;
    border: 1px solid #5C5C5C;
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_summary_info {
    color: #202224;
}

.dashboard_outer_s h2 {
    font-size: 32px;
    font-weight: 700;
}

.dashboard_info_s {
    margin: 15px 0px;
}

.dashboard_info_s ul li {
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 6px 6px 54px #00000010;
    padding: 15px;
    min-height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard_info_s ul li .user_cnt_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_info_s ul li .user_cnt_top span {
    font-size: 16px;
}

.dashboard_info_s ul li .user_cnt_top h3 {
    margin: 0px;
    font-weight: 700;
    font-size: 26px;
}

.dashboard_icon {
    background-color: #E5E4FF;
    width: 60px;
    height: 60px;
    border-radius: 23px;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: center;
}

.dashboard_info_s ul li p {
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.dashboard_info_s ul li p span {
    color: #00B69B;
    padding-right: 2px;
}

.dashboard_info_s ul li p img {
    padding-right: 6px;
}

ul.list_dashboard_cate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.dashboard_detail_s {
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 6px 6px 54px #00000010;
    padding: 32px;
}

.dashboard_outer_s {
    padding: 20px 10px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.dashboard_detail_s table {
    width: 100%;
}

.dashboard_detail_s table thead tr th {
    background-color: #F1F4F9;
    overflow: hidden;
    white-space: nowrap;
}

th.first_child {
    border-radius: 12px 0px 0px 12px;
}

th.last_child {
    border-radius: 0px 12px 12px 0px;
}

.dashboard_detail_s table thead tr th,
tbody td {
    padding: 13px 15px;
}

.dashboard_detail_s table tbody tr {
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
    color: #202224;
    font-weight: 600;
}

.btn_right_t {
    display: flex;
    gap: 6px;
}

.td_first {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dashboard_info_s ul li .low_market span {
    color: #F93C65;
}

.dashboard_detail_s h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
}

.dashboard_info_s ul li.nth_one .dashboard_icon {
    background-color: #FFF3D6;
}

.dashboard_info_s ul li.nth_two .dashboard_icon {
    background-color: #D9F7E8;
}

.dashboard_info_s ul li.nth_three .dashboard_icon {
    background-color: #FFDED1;
}

.dashboard_info_s ul li.nth_four .dashboard_icon {
    background-color: #FFDFDF;
}

.dashboard_info_s ul li.nth_five .dashboard_icon {
    background-color: #EBCFEB;
}

.dashboard_info_s ul li.nth_six .dashboard_icon {
    background-color: #FFDFE3;
}

.dashboard_info_s ul li.nth_seven .dashboard_icon {
    background-color: #CFCFCF;
}

.getotp {
    position: absolute;
    right: 0px;
    font-size: 11px;
    background-color: #1eb5c0;
    border: none;
    bottom: 18px;
    padding: 4px 5px;
    border-radius: 4px;
    color: #fff;
}

.user_list_top {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.user_list_table h4 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 5px;
}

.user_list_l p {
    font-size: 14px;
    color: #16C098;
    font-weight: 500;
}

.user_search {
    background-color: #eff3fb;
    padding: 8px;
    border-radius: 10px;
}

.user_search button {
    border: none;
    background-color: none;
}

.user_search input {
    border: none;
    background: transparent;
}

.user_search input:focus-visible {
    outline: none;
}

.user_list_table table thead tr th {
    background-color: transparent;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.user_list_table .table-responsive {
    height: 500px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.user_list_table table tr td button {
    border: 2px solid #16C098;
    background-color: #16c09863;
    font-size: 14px;
    font-weight: 600;
    color: #008767;
    padding: 4px 14px;
    border-radius: 5px;
}

.user_list_table table tr td.Inactive button {
    border: 2px solid #DF0404;
    color: #DF0404;
    background-color: #FFC5C5;
}

body .user_list_table button.close {
    border: 2px solid #DF0404;
    color: #DF0404;
    background-color: #FFC5C5;
}

body .user_list_table button.chat {
    border: 2px solid #1eb5c0;
    color: #1eb5c0;
    background-color: #A7CBFA;
}

.dashboard_summary ul.nav-tabs li {
    padding: 0px;
    border: none;
}

.dashboard_summary ul.nav-tabs li button {
    padding: 8px 20px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px !important;
    box-shadow: none !important;
    border: 1px solid #C3C4C4;
    color: #B3B3B3 !important;
    background-color: #E8E9E9 !important;
}

.dashboard_summary ul.nav-tabs li button.active {
    border: 1px solid #77B2FF;
    color: #fff !important;
    background-color: #1eb5c0 !important;
}

.dashboard_summary ul.nav-tabs {
    border: none !important;
    gap: 12px;
    margin: 18px 0px;
}

.pagination_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.pagination_list p {
    font-size: 14px;
    color: #B5B7C0;
    margin: 0px;
}

.pagination_list .pagination {
    gap: 14px;
}

.pagination_list a.page-link {
    background-color: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    color: #404B52;
    font-weight: 600;
    padding: 2px 12px;
}

.pagination_list ul li.active a {
    background-color: #1eb5c0;
    border: 1px solid #1eb5c0;
    color: #fff;
}

.login_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #6accd3;
    border-radius: 0px 35px 35px 0px;
}

.left_side_cnt {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding: 0px 48px;
    width: 35%;
    background-image: url(../images/login_bg_lf.png);
    background-size: cover;
    background-position: center;
    background-color: #1eb5c0;
    background-repeat: no-repeat;
}

.left_side_cnt h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.left_side_cnt h1 span {
    color: #000;
}

.logo_vector {
    width: 319px;
    height: 319px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 18px 40px #00000040;
}

.login_form_r {
    width: 75%;
    background-color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form_login h2 {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
}

.form_login p {
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 500;
    letter-spacing: 1px;
}

.form_login {
    width: 430px;
    max-width: 100%;
}

.form_input input {
    width: 100%;
    color: #9D9D9D;
    font-size: 14px;
    border-bottom: 1px solid #9D9D9D !important;
    border: none;
    padding: 10px 11px 11px 0px;
    margin-bottom: 12px;
}

.form_input.d-flex input {
    padding: 10px 65px 11px 0px;
}

.form_input {
    position: relative;
}

.view_icon {
    position: absolute;
    right: 0;
    top: 5px;
}

.form_input input[type="button"] {
    background-color: #1eb5c0;
    color: #fff;
    border: 1px solid #1eb5c0;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 11px 15px;
}

.form_login p a {
    font-weight: 700;
}

.form_input input:focus-visible {
    outline: none;
}

.leftside_items .toggle_menu {
    display: none;
}

.form_notification form {
    margin: 18px 0px 24px;
    display: flex;
    gap: 18px;
    padding: 32px;
    align-items: end;
    border: 1px solid #cdcdcd;
    border-radius: 22px;
}

.fill_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form_notification form label {
    font-size: 14px;
}

.form_notification form .input_inb {
    width: 100%;
    background-color: #eff3fb;
    padding: 8px 12px;
    border-radius: 10px;
    word-wrap: normal;
    font-size: 14px;
    border: 1px solid #b5b5b5;
}

textarea.input_inb {
    height: 38px;
}

.form_notification input[type="button"] {
    background-color: #1eb5c0;
    color: #fff;
    border: 1px solid #1eb5c0;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 6px 15px;
}

.user_list_table table thead tr th.first_coloum {
    width: 260px;
}

.user_list_table tr td .blog_img {
    width: 180px;
}

.user_list_table tr td .blog_img img {
    border-radius: 7px;
    max-height: 120px;
    min-height: 100px;
    object-fit: cover;
}

.support_form {
    margin-top: 40px;
    padding: 28px;
    border-radius: 20px;
    border: 1px solid #B1B1B1;
}

.support_form .col-input_bl {
    flex-direction: column;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.control_input {
    width: 100%;
}

.support_form lable {
    font-size: 15px;
    padding-bottom: 5px;
    display: block;
    font-weight: 300;
    text-transform: capitalize;
}

.support_form input {
    border: 1px solid #b1b1b1;
    border-radius: 50px;
    padding: 14px 18px;
    width: 100%;
    font-size: 14px;
    color: #999999;
}

.control_input textarea {
    border: 1px solid #b1b1b1;
    border-radius: 24px;
    padding: 14px 18px;
    width: 100%;
    font-size: 14px;
    color: #999999;
}

.support_screen_img {
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    padding: 6px;
    width: 165px;
    margin: 0 auto;
}

.support_screen_img img {
    border-radius: 10px;
    width: 100%;
}

.chat_detail {
    width: 100%;
}

.top_heading_cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.cnt_left_s {
    width: 85%;
}

.dashboard_right h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #6d87a9;
}

.notification_icon {
    max-width: 48px;
}

.ticket_block {
    width: 100%;
    margin-top: 32px;
    padding: 20px 50px;
    display: inline-block;
    height: 500px;
    overflow: auto;
}

.ticket_support_team {
    position: relative;
    width: 80%;
    float: left;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 20px #0000001c;
    border-radius: 0px 20px 20px 20px;
    padding: 24px;
}

.ticket_support_team.right_side {
    text-align: right;
    float: right;
    background-color: #D1E5FF;
    border-radius: 20px 0px 20px 20px;
}

.navi_sidebar ul.list-unstyled li a img {
    width: 18px;
}

.tab-content .ticket_support_team {
    margin-bottom: 24px;
}

.rdt_TableRow .rdt_TableCell {
    padding: 8px 0px;
}



.navi_sidebar ul.list-unstyled.ps-0 {
    padding-bottom: 50px !important;
}


.ticket_resolved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 50px;
    gap: 24px;
    box-shadow: 0px 2px 10px #66666661;
    max-width: 70%;
    margin: 0 auto;
}

body .ticket_resolved h4 {
    font-size: 16px;
    margin: 0px;
    font-weight: 600;
    color: #000;
}

button.closed_btn {
    background-color: #7195C4;
    font-size: 14px;
    border: 1px solid #7195C4;
    color: #fff;
    padding: 6px 24px;
    border-radius: 50px;
}

.support_form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.arrow_top {
    position: absolute;
    right: -36px;
    left: inherit;
    top: 0px;
    transform: rotate(0deg);
}

.right_side .arrow_top {
    position: absolute;
    left: -35px;
    top: 0;
    transform: rotate(180deg);
}

.tab-content .ticket_support_team p {
    font-size: 15px;
    margin: 0px;
}

.responsive_scrool {
    height: 70vh;
    overflow: auto;
}


.logout_btn {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 18%;
    z-index: 999;
}

.logout_btn a {
    background-color: #1eb5c0;
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logout_btn a img {
    width: 22px;
}

.navi_sidebar {
    padding-bottom: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.logout_btn.mobile {
    display: none;
}

.leftside_items .logo {
    max-width: 110px;
    margin: 7px auto;
}

@media screen and (max-width:1550px) {

    .dashboard_right {
        margin-left: 275px;
    }

}



@media screen and (max-width:1367px) {

    .dashboard_summary_info h2 {
        font-size: 24px;
    }

    .dashboard_right {
        margin-left: 255px;
    }

    .dashboard_info_s ul li .user_cnt_top h3 {
        font-size: 22px;
    }



}

@media screen and (max-width:1200px) {

    ul.list_dashboard_cate {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }

    .leftside_menu:after {
        width: 25%;
    }

    .logout_btn {
        width: 25%;
    }

    ul.list-unstyled.ps-0 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }

    .navi_sidebar ul li a {
        font-size: 13px;
        padding: 7px 10px;
    }

    .user_list_table .table-responsive {
        height: 340px;
    }

    .dashboard_detail_s table thead tr th,
    tbody td {
        padding: 10px 10px;
    }

    .logo_vector {
        width: 220px;
        height: 220px;
    }

    .left_side_cnt {
        gap: 20px;
        padding: 0px 32px;
    }

    .left_side_cnt h1 {
        font-size: 26px;
    }


}

@media screen and (max-width:1024px) {

    ul.list_dashboard_cate {
        grid-template-columns: repeat(2, 1fr);
    }

    .product {
        width: 44px;
    }

    .dashboard_detail_s {
        overflow: auto;
    }

    .leftside_menu {
        width: 25%;
    }

    .dashboard_right {
        width: 75%;
    }

    .dashboard_outer_s h2 {
        font-size: 26px;
    }

    .user_summary_t tr td {
        white-space: nowrap;
        padding-right: 24px;
    }

    .ticket_block {
        padding: 20px 24px;
    }

    .user_summary_t tr th {
        white-space: nowrap;
    }

    .dashboard:after {
        width: 25%;
    }

}


@media screen and (max-width:991px) {



    .dashboard_detail_s {
        overflow: auto;
    }

    .form_notification form {
        flex-wrap: wrap;
        gap: 12px;
    }

    .dashboard_right {
        margin-left: 195px;
    }


}


@media screen and (max-width:767px) {

    .support_form {
        margin-top: 10px;
        padding: 15px;
        border-radius: 15px;
    }

    .leftside_items .logo {
    max-width: 60px;
}

    .leftside_menu:after {
        display: none;
    }

    .navi_sidebar {
        height: 100%;
    }

    .user_search input {
        font-size: 12px;
    }

    .logout_btn.mobile {
        display: block;
    }

    .navi_sidebar.active {
        padding-bottom: 0px;
    }

    td.content_tb p {
        width: 200px;
    }

    .ticket_support_team.right_side {
        margin-left: 30px;
    }

    .support_form .col-input_bl {
        gap: 15px;
    }

    .support_form form {
        gap: 15px;
    }

    .support_form input {
        padding: 8px 18px;
        font-size: 13px;
    }

    .ticket_support_team {
        padding: 20px;
        margin-right: 30px;
    }

    .ticket_resolved {
        flex-direction: column;
        text-align: center;
        padding: 18px 16px;
        border-radius: 20px;
        gap: 8px;
        max-width: 100%;
    }

    .ticket_support_team p {
        font-size: 14px;
    }

    .ticket_support_team h5 {
        font-size: 17px;
    }

    .dashboard_detail_s table thead tr th {
        font-size: 13px;
    }

    .user_list_table table thead tr th {
        font-size: 12px;
        white-space: nowrap;

    }

    .user_list_table table tr td button {
        font-size: 12px;
        padding: 4px 16px;
    }

    .user_list_table tr td .blog_img {
        width: 120px;
    }

    .user_list_table tr td .blog_img img {
        border-radius: 7px;
        max-height: 80px;
        min-height: 70px;
    }

    .form_notification form .input_inb {
        padding: 5px 10px;
        font-size: 12px;
    }

    .dashboard_detail_s table tbody tr {
        font-size: 12px;
    }

    .form_notification input[type="button"] {
        font-size: 13px;
        padding: 5px 12px;
    }

    .form_notification form {
        margin: 14px 0px 18px;
        padding: 24px;
        border-radius: 18px;
    }

    .dashboard_outer_s h2 {
        font-size: 24px;
    }

    .user_list_table h4 {
        font-size: 18px;
    }

    .leftside_items .toggle_menu {
        display: block;
    }

    .navi_sidebar {
        display: none;
    }

    .navi_sidebar.active {
        display: block;
    }

    .leftside_items .toggle_menu {
        position: absolute;
        right: 10px;
        top: 8px;
    }

    .top_header_dash .toggle_menu {
        display: none;
    }

    .logo {
        max-width: 110px;
        margin: 0px 0px 0px;
    }

    .dashboard_detail_s {
        padding: 24px;
    }

    .dashboard {
        flex-direction: column;
        gap: 0px;
    }

    .leftside_menu {
        width: 100%;
    }

    .dashboard_right {
        width: 100%;
        margin-left: 0px;
    }

    .sticky-sidebar {
        position: relative !important;
        height: 100%;
    }

    .logout_btn {
        position: relative;
        width: 100%;
    }

    .dashboard_outer_s {
        padding: 20px 15px 20px 15px;
        gap: 15px;
    }

    .dashboard:after {
        display: none;
    }

    .navi_sidebar ul li a {
        padding: 10px 15px;
    }

    .login_section {
        flex-direction: column;
        min-height: 100%;
        border-radius: 0px 0px 35px 35px;
    }

    .logo_vector {
        width: 180px;
        height: 180px;
    }

    .left_side_cnt {
        width: 100%;
        text-align: center;
        gap: 15px;
        padding: 32px 20px;
    }

    .login_form_r {
        width: 100%;
        padding: 24px;
    }

    .pagination_list a.page-link {
        padding: 0px 10px;
        font-size: 13px;
    }

}

@media screen and (max-width:580px) {

    .user_list_top {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
        align-items: normal;
    }

    .navi_sidebar ul li a {
        padding: 7px 11px;
        font-size: 13px;
        gap: 7px;
    }

    .navi_sidebar ul.list-unstyled li a img {
        width: 22px;
    }

    .left_side_cnt h1 {
        font-size: 22px;
    }

    .logo_vector {
        width: 100px;
        height: 100px;
    }

    ul.list_dashboard_cate {
        grid-template-columns: repeat(1, 1fr);
    }

    .pagination_list {
        margin-top: 24px;
        flex-direction: column;
        gap: 20px;
    }

    .pagination_list .pagination {
        gap: 7px;
    }


}

.inactive_button {
    border: 2px solid red !important;
    background-color: red !important;
    color: #fff !important;
}

.no-notifications {
    text-align: center;
}

.control_input {
    width: 100%;
}

.input_filed {
    position: relative;
}

.control_input textarea {
    border: 1px solid #b1b1b1;
    border-radius: 24px;
    padding: 14px 18px;
    width: 100%;
    font-size: 14px;
    color: #999999;
}

.control_input button {
    border: 1px solid #A0A0A0;
    border-radius: 50px;
    padding: 14px 18px;
    width: 100%;
    font-size: 16px;
    align-items: center;
    color: #1b1b1b;
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 7px;
}

body button.get_otp {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #fff;
    width: auto;
    background-color: #1775EE;
    padding: 9px 12px;
    font-size: 13px;
    border-color: #1775EE;
}